{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% trans_default_domain 'forms' %}

{% block body %}

    <div class="container mt-4">

        <h2> Event Presentation </h2>

        <div class="container-fluid">
            <img class="text-center" src="{% if asset_exists('uploads/products/' ~ event.product.coverImage) %} {{ asset('uploads/products/' ~ event.product.coverImage) }} {% else %} {{ asset('uploads/products/sample_product.png') }} {% endif %}">
            <h3>{{ event.formattedName }}</h3>
            <h5>Price : {{ event.price }}</h5>
            <h5>Places : {{ event.reservationPlaces }}</h5>
            <h5>Date de l'evenement : {{ event.eventDatetime|date('d/m/y') }}</h5>
            <h5>Date de fin d'inscription : {{ event.deadlineDate|date('d/m/y') }}</h5>
            <p>
                {{ event.formattedDescription }}
            </p>
        </div>
        
        


        <form method="post" class="mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% if error is defined %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')  }}</div>
            {% endif %}

        <div class="container">
            {{ form_start(form) }}
                    {{ form_row(form.choices) }}
            <button class="btn-primary btn">
                {{ 'event.reserve'|trans({},'messages') }}
            </button>
            {{ form_end(form) }}
        </div>



        </form>
    </div>

{% endblock %}
