
{% trans_default_domain 'admin' %}
<div class="card" style="width: 18rem;">
    <img src="{% if asset_exists('uploads/products/' ~ product.logo) %} {{ asset('uploads/products/' ~ product.logo) }} {% else %} {{ asset('uploads/products/sample_product.png') }} {% endif %}" class="card-img-top" alt="logo">
    <div class="card-body">
        <h5 class="card-title">  {{ product.formattedName }}</h5>
        <p class="card-text"> {{ (product.formattedDescription |length > 50 ? product.formattedDescription|slice(0, 140) ~ '...' : product.formattedDescription )|nl2br }}</p>
    </div>
    <ul class="list-group list-group-flush">
         <li class="list-group-item">

             <a href="{{ path('admin.product.edit',{'id': product.id,'slug' : product.slug }) }}" class="btn btn-warning container-fluid mb-2">{% trans %} products.edit {% endtrans %}</a>


                <form method="post" action="{{ path('admin.product.remove',{id: product.id}) }}" onsubmit="return confirm('Are you sure ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ product.id) }}">
                    <button class="btn container-fluid mb-2 btn-danger">{{ 'products.remove'|trans }}</button>
                </form>

         </li>

    </ul>
</div>



