{% extends 'base.html.twig' %}

{% block title %} Admin-Produits {% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% set count = (products|length) %}

    <div class="mt-4 mb-4 text-center" style="padding-top: 8%">
        <div class="fs-bold">Nombre de produits : {{ count }}</div>
    </div>

    <div class="mt-4 mb-4" >
    <a href="{{ path('admin.product.create') }}" class="btn btn-primary">{% trans from 'admin' %} products.create {% endtrans %}</a>
    </div>

    <div class="row">
        {{ include('pages/admin/navigation_box.html.twig') }}

        <div class="col col-md-8">
            <div class="row">
                {% for product in products %}
                    <div class="col col-md-4">
                        {{ include('pages/admin/products/_card.html.twig',{product:product}) }}
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>


{% endblock %}