<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">

        <title> {% block title %} Afak Al-Moustakbil {% endblock %} </title>

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>



    {% trans_default_domain 'messages' %}

    <nav class="  navbar navbar-expand-lg navbar-dark   bg-primary">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ path('home') }}"> {{ 'navbar.brand.name'|trans }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">



                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">{% trans %} navbar.home {% endtrans %} </a>
                    <a class="nav-link" href="{{ path('contact') }}">{% trans %}navbar.contact {% endtrans %}</a>
                    <a class="nav-link" href="{{ path('aboutus') }}">{% trans %} navbar.aboutus {% endtrans %}</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans  %} navbar.language {% endtrans %}
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'fr'}) }}">{% trans %} navbar.fr {% endtrans %}</a></li>
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'ar'}) }}">{% trans %} navbar.ar {% endtrans %}</a></li>
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'en'}) }}">{% trans %} navbar.en {% endtrans %}</a></li>
                            </ul>
                        </div>
                    {% if is_granted('ROLE_MODERATOR') %}
                        <a class="nav-link active" href="{{ path('admin.events.show') }}"> {% trans %} admin.panel {% endtrans %}</a>
                    {% endif %}

                    {% if app.user %}
                        <a class="nav-link active" href="{{ path('user.profile',{'slug' : app.user.slug}) }}"> {% trans %} user.profile {% endtrans %}</a>
                        <a class="nav-link active" href="{{ path('user.logout') }}"> {% trans %} user.logout {% endtrans %}</a>
                    {% else  %}
                        <a class="nav-link active " href="{{ path('user.login') }}"> {% trans %} user.login {% endtrans %}</a>
                        <a class="nav-link active" href="{{ path('user.register.choice') }}"> {% trans %} user.register {% endtrans %}</a>

                    {% endif %}

                </div>
            </div>


        </div>
    </nav>


        {% block body %}

        {% endblock %}
    </body>
</html>
