<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />


        <link rel="stylesheet" href="{{ asset("bootstrap.css","css") }}" />
        <script src="{{ asset("bootstrap.js","js") }}"></script>

        <title> {% block title %} Cie-Services {% endblock %} </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
                   {% endblock %}
    </head>
    <body >



    {% trans_default_domain 'index' %}

    <!--<div class="container-fluid " id="infoHeader">

        <div class="row d-flex  justify-content-between ">

            <div class=" col align-items-center" >
                <img  src="{{ asset('logo_instagram.png','ressource_images') }}" alt="test" style="width: 1.5rem">
                <img src="{{ asset('logo_facebook.png','ressource_images') }}" alt="test" style="width: 1.5rem">
                <img src="{{ asset('logo_linkedin.png','ressource_images') }}" alt="test" style="width: 1.5rem">
            </div>

            <span class="col text-end">
                <img style="width: 1.5rem" src="{{ asset('logo_facebook.png','ressource_images') }}" alt="test" > <span style="color: white">0558457292</span>
            </span>
        </div>

    </div>

    <nav id="navigationBar" class=" navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid">
            <a id="brand" class="navbar-brand" href="{{ path('home') }}"  >
                <img class="me-0" src="{{ asset('logo_cie.png','ressource_images') }}" alt="" width="80rem">
            </a>

            <a style="color: #091753;text-decoration: none;font-weight: bold" href="{{ path('home') }}" > CENTRE INTERNATIONAL </br> DES SERVICES EDUCATIFS </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0" >
                            <li class="nav-item"><a  class="nav-link" href="{{ path('home') }}#about">About</a></li>
                            <li class="nav-item"><a  class="nav-link" href="{{ path('home') }}#services">Nos Services</a></li>
                            <li class="nav-item"><a  class="nav-link" href="{{ path('home') }}#contact">Contact</a></li>
                            {% if app.user %}
                                <li class="nav-item" > <a class="nav-link" href="{{ path('user.profile',{'slug' : app.user.slug}) }}"> {% trans %} user.profile {% endtrans %} </a></li>
                                <li class="nav-item" > <a class="nav-link" href="{{ path('user.logout') }}">  {% trans %} user.logout {% endtrans %} </a></li>
                            {% else %}
                                <li class="nav-item" ><a  class="nav-link" href="{{ path('user.login') }}">Login</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_MODERATOR') %}
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ path('admin.events.show') }}"> {% trans %} admin.panel {% endtrans %}</a>
                                </li>
                            {% endif %}
                        </ul>
            </div>
        </div>
    </nav>
    !-->



    <!--<nav class="  navbar navbar-expand-lg  " style="background-color: #E5EFFE">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ path('home') }}"> {{ 'navbar.brand.name'|trans }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">



                <div class="navbar-nav" >
                    <a  class="nav-link active" aria-current="page" href="{{ path('home') }}">{% trans %} navbar.home {% endtrans %} </a>
                    <a  class="nav-link" href="{{ path('contact') }}">{% trans %}navbar.contact {% endtrans %}</a>
                    <a  class="nav-link" href="{{ path('aboutus') }}">{% trans %} navbar.aboutus {% endtrans %}</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans  %} navbar.language {% endtrans %}
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'fr'}) }}">{% trans %} navbar.fr {% endtrans %}</a></li>
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'ar'}) }}">{% trans %} navbar.ar {% endtrans %}</a></li>
                                <li><a class="dropdown-item" href="{{ path('home',{'_locale' : 'en'}) }}">{% trans %} navbar.en {% endtrans %}</a></li>
                            </ul>
                        </div>


                    {% if app.user %}
                        <div class="d-flex justify-content-end">
                            <a class="nav-link active" href="{{ path('user.profile',{'slug' : app.user.slug}) }}"> {% trans %} user.profile {% endtrans %}</a>
                            <a class="nav-link active" href="{{ path('user.logout') }}"> {% trans %} user.logout {% endtrans %}</a>
                        </div>
                    {% else  %}

                        <div class="d-flex justify-content-end">
                            <a class="nav-link active " href="{{ path('user.login') }}"> {% trans %} user.login {% endtrans %}</a>
                            <a class="nav-link active" href="{{ path('user.register.choice') }}"> {% trans %} user.register {% endtrans %}</a>
                        </div>

                    {% endif %}

                </div>
            </div>


        </div>
    </nav>-->



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset("Logo CIE.png","ressource_images_index") }}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-items" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nb1 nav-link active" aria-current="page" href="{{ path('home') }}#home">{% trans %} home {% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nb2 nav-link" href="{{ path('home') }}#about">{% trans %} about {% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nb3 nav-link" href="{{ path('home') }}#service">{% trans %} services {% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nb4 nav-link" href="{{ path('home') }}#contact">{% trans %} contact {% endtrans %}</a>
                    </li>
                </ul>
                <div class="navbar-text">
                    <ul class="icon-social">
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                    <span class="lang {% if app.request.locale == "fr" %} active {% endif %}">{% trans %} french {% endtrans %}</span>
                    <span class="lang lang-sp"> | </span>
                    <span class="lang {% if app.request.locale == "ar" %} active {% endif %}">{% trans %} arabic {% endtrans %}</span>
                </div>
            </div>
        </div>
    </nav>


        {% block body %}

        {% endblock %}

    {% block footer %}

    {% endblock %}
    </body>



</html>
