{% extends 'base.html.twig' %}

{% block title %}   Admin Panel - Edit {% endblock %}

{% block body %}
    {{ include('pages/admin/_form.html.twig', {form: form,button: 'events.edit'})  }}

    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'child.name'|trans({},'messages') }}</th>
                <th scope="col">{{ 'child.school_level'|trans({},'messages') }}</th>
                <th scope="col">{{ 'child.school'|trans({},'messages') }}</th>

            </tr>
            </thead>
            <tbody>
            {% for child in childrens %}
                <tr>
                    <td>{{ child.name }}</td>
                    <td>{{ child.FormattedSchoolarLevel|trans({},'types') }}</td>
                    <td>{{ child.school.name }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin.download.children.list.event',{'id': event_id } ) }}" class="col btn btn-warning mb-2"> {{  'child.download'| trans({},'messages') }}</a>

    </div>


{% endblock %}